@use '../../app-vars' as var;

.cv-card {

  background: linear-gradient(to top right, var.$bg-grey, var.$bg-white, var.$bg-grey);
  height: 100%;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px 0;
    font-size: 1.2vw;
    font-weight: bold;

    @media screen and (max-width: 1320px) {
      font-size: 2vw;
    }

    .button {
      cursor: pointer;
    }

    .active {
      color: var.$blue-color;
    }
  }


  h1 {
    text-align: center;
  }

  .cv-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }


    .timeline {
      //position: rel%ative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      height: 100%;


      .info-card {

        padding: 10px 20px;
        width: 60%;

        .info {
          position: relative;

          .date {
            position: absolute;
            font-weight: bold;
            text-align: center;
          }
        }

        .title {
          color: var.$blue-color;
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;

          mat-icon {
            margin-top: 20px;
            height: auto;
            width: 4vw;

            @media screen and (max-width: 1320px) {
              width: 8vw;
            }

            @media screen and (max-width: 700px) {
              width: 16vw;
            }
          }

          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: white;
            border-radius: 999px;
            border: 3px solid var.$blue-color;
          }
        }

        &:nth-child(odd) {
          border-left: 3px solid var.$blue-color;
          border-bottom: 3px solid var.$blue-color;

          .info > .title::before {
            left: -30px;
          }

          .info > .date {
            left: -95px;
          }
        }

        &:nth-child(even) {
          border-right: 3px solid var.$blue-color;
          border-bottom: 3px solid var.$blue-color;

          .info > .title::before {
            right: -30px;
          }

          .info > .date {
            right: -95px;
          }
        }

        &:last-child:nth-child(odd), &:last-child:nth-child(even) {
          border-bottom: none;
        }

      }
    }
  }
}
