.menu {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #E6F1FF;

  .button {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  .active {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

.border {
  height: 1px;
  background: linear-gradient(90deg, transparent 0%, #E6F1FF 50%, #E6F1FF 50%, transparent 100%);
  margin-bottom: 20px;
}
