.container {
  //width: 60%;
  //margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .booklet, .classic-web{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .booklet{
    width: 60%;
  }

  .classic-web{
    width: 80%;
  }
}

.container-classic{
  width: 70%;
  height: 88%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (max-width: 700px) {
    width: 95%;
  }
}
