@use '../../app-vars' as var;

.card {
  container-type: inline-size;
  background: linear-gradient(to top left, var.$bg-grey 0%, var.$bg-white 60%, );

  .header {
    margin-top: 4em;
    display: flex;
    width: 100%;
    gap: 1em;

    .name, .prof {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 20px;
      flex-grow: 1;
      font-size: 3em;
      line-height: 1.2;
      transition: font-size 1.2s ease;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: center;

      .mail, .mobile, .call {
        display: flex;
        align-items: center;
        gap: 1em;
        font-size: 0.8vw;
        color: #000;

        mat-icon {
          width: 1vw;
          height: auto;
        }

        @media screen and (max-width: 1320px) {
          font-size: 2vw;

          mat-icon{
            width: 2vw;
          }
        }
      }

      .social {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2em;

        mat-icon {
          width: 8vw;
          color: #0a66c2;
          cursor: pointer;

          &:hover{
            transform: scale(1.05);
          }
        }
      }
    }

    .photo {
      position: relative;
      display: inline-block;
      background: #faf9fd;
      width: 100%;
      padding-top: 10px;
      border: 1px solid var.$blue-color;
      border-radius: 50%;
      overflow: hidden;

      img {
        display: block;
        width: -webkit-fill-available;
        //mask-image: radial-gradient(circle at 60% 0%, black 70%, transparent 86%);
        //mask-repeat: no-repeat;
        //mask-position: center;
        //mask-size: cover;
      }
    }
  }

  .actions {
    margin-top: 2vh;
    display: flex;
    justify-content: center;

    button{
      background: var.$blue-color;
    }
  }

  .letter {
    margin-top: 4vh;
    padding: 20px 0 0 20px;
    font-size: 0.9vw;
    line-height: 1.5;
    border-top: 2px solid var.$blue-color;
    border-left: 2px solid var.$blue-color;

    @media screen and (max-width: 1320px) {
      font-size: 2vw;
    }
  }
}

@container (width < 430px) {
  .card {
    .header {

      .name, .prof {
        font-size: 1em;
        transition: font-size 1.2s ease;
      }
    }

    .letter {
      font-size: 1.2em;
    }
  }
}

